@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Vidly is a renting service that allows our customers to rent a wide variety of award-winning TV shows, 
    movies, documentaries, and more on thousands of internet-connected devices. With Vidly, you can enjoy unlimited 
    viewing of our content without having to watch a single commercial. There's always something new to discover, and 
    more TV shows and movies are added every month!</p>
