@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly!</h1>
    <p class="lead">Best video rental service for you and your family!</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Very simple interface for renting movies!
            So many movies, so little time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Libraries</h2>
        <p>Our movie library have more than 1000 greatest titles of all time!</p>
    </div>
    <div class="col-md-4">
        <h2>Made by</h2>
        <p>Vuk Isic</p>
        <p><a class="btn btn-default" href="https://vukisic.github.io">Learn more &raquo;</a></p>
    </div>
</div>